# ============================================
# CINEFLIX HUB - ENVIRONMENT VARIABLES
# ============================================

# Supabase Configuration
SUPABASE_URL=https://lynltvzimbqltpafunmu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5bmx0dnppbWJxbHRwYWZ1bm11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMzE2MzIsImV4cCI6MjA5MzYwNzYzMn0.XuF30WIDCYKtC9gD7ZNc03LqMNvw9o0Ujp7ptlxqk30

# TMDB API (The Movie Database)
TMDB_API_KEY=your_tmdb_api_key_here

# Mercado Pago
MP_TOKEN=APP_USR-8056159904642779-121712-97635788558ef7b14683ec3b2a3b4e20-1076799609

# Server Configuration
PORT=3000
